/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    /*===== Colors =====*/
    --first-color: #006d77;
    --first-color-light: #edf6f9;
    --second-color: #ffa700;
    --gray-color: #fafafa;
    /*===== Font and typography =====*/
    --normal-font-size: 1rem;
    /*===== z index =====*/
    --z-fixed: 100;
}


/*===== BASE =====*/

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}


/*===== HEADER =====*/

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--gray-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header__toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header__img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header__img img {
    width: 40px;
}


/*===== NAV =====*/

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo,
.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
    margin-bottom: 2rem;
}

.nav__logo-icon {
    font-size: 1.25rem;
    color: var(--second-color);
}

.nav__logo-name {
    color: var(--second-color);
    font-weight: 700;
}

.nav__link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav__link:hover {
    color: var(--second-color);
}

.nav__icon {
    font-size: 1.25rem;
}


/*Show navbar movil*/

.show {
    left: 0;
}


/*Add padding body movil*/

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}


/*Active links*/

.active {
    color: var(--second-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--second-color);
}


/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header__img {
        width: 40px;
        height: 40px;
    }
    .header__img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    /*Show navbar desktop*/
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    /*Add padding body desktop*/
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

.card-title {
    background-color: var(--second-color);
    margin: 0;
    padding: 5px;

}

.text-header-1 {
    font-size: 24px !important;
    margin-top: 6px !important;
    font-weight: bold !important;
    padding: 5px;
    color: #003566;
}

#txt {
    font-size: 20px !important;
    font-weight: 700;
    color: #003566;
}

#txt-sp {
    font-size: 17px !important;
    font-weight: 700;
    color: #003566;
}

.text-topic{
    font-size: 18px !important;
    font-weight: 600;
    color: red;
}

.btnInclude{
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
.btnInclude:hover{
    color: #0077b6;
    font-weight: 700;
}

.form-check-label{
    font-size: 17px !important;
    font-weight: 600;
    color: #003566;
}

#desc_prob{
    font-size: 16px !important;
    font-weight: 600;
}

input[type="text"],input[type="date"],input[type="time"]{
    font-size: 17px;
    font-weight: 600;
}

textarea{
    font-size: 17px;
    font-weight: 600;
    resize: none;
}

.btn-success{
    width: 200px !important;
    font-size: 18px !important;
    font-weight: 600;
}
.save-icon{
    font-size: 20px !important;
}

.headertxt{
    color: #0b2f9f;
    background-color: #98ded9;
}

.headertxt h5{
    font-weight: bold;
}

.headertxtform{
    color: #071952;
    background-color: #ebf4f6;

}

.headertxtform p{
    font-weight: bold;
    font-size: 20px !important;
    margin-top: 3px;
}

#form_caseandactive{
    display: none;
    margin-top: 10px !important;
}

#label-form{
    font-size: 18px !important;
    font-weight: 600;
    color: #050c9c;
}


.card-text{
    font-size: 18px;
    font-weight: 600;
}

.card-title h5{
    font-size: 20px;
    font-weight: 600;
}

#prbtext{
    font-size: 18px;
    font-weight: 600;
    background-color: #f4e5e1;
    padding: auto;
    border-radius: 5px;
}

.details1{
    font-size: 17px;
    font-weight: 600;
}

#casetext{
    font-size: 18px;
    font-weight: 600;
    background-color: #f4e5e1;
    padding: auto;
    border-radius: 5px;
}

.details2{
    font-size: 17px;
    font-weight: 600;
}

#acttext{
    font-size: 18px;
    font-weight: 600;
    background-color: #adf7b6;
    padding: auto;
    border-radius: 5px;
}

.details3{
    font-size: 17px;
    font-weight: 600;
}

.btnapr{
    background-color: #058c42;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.btnapr:hover{
    background-color: #d8f3dc;
    color: #000;
}

.btnedit{
    background-color: #faa307;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.btnedit:hover{
    background-color: #fff3b0;
    color: #000;
}

.btnrej{
    background-color: #3C3D37;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.btnrej:hover{
    background-color: #fcb9b2;
    color: #000;
}

.btndel{
    background-color: #bf0603;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.btndel:hover{
    background-color: #FFABAB;
    color: #000;
}

#imagePreview {
    display: none;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    /* Indicate that the image is clickable */
    transition: transform 0.25s ease, top 0.25s ease, left 0.25s ease;
    /* Smooth zoom transition */
    position: relative;
    /* Needed for absolute positioning when zoomed */
    margin-top: 10px;
}

#imagePreview.zoomed {
    transform: scale(2);
    /* Scale up the image */
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) scale(2);
    /* Center the image and zoom */
    position: fixed;
    /* Overlay on the entire screen */
    z-index: 1000;
    /* Ensure it is on top */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100px;
}

.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#imgtext{
    font-size: 18px;
    font-weight: 600;
    background-color: #f2e9e4;
    padding: 10px;
    border-radius: 5px;
}
